/*#region global*/
    @font-face {
        font-family:'Roboto';
        src: url('../font/Roboto-Light.ttf');
    }

    /*reset*/
    *{
        font-family: 'Roboto';
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }


    /* setando unidades relativas */
        /* rem */
    html{
        font-size: 20px;
        scroll-behavior: smooth;
    }

    /* em */
    body{
        font-size: 16px;
        /* overflow: hidden; */
    }

    /* setando as cores */
    :root{
        --color-title: white;
        --color-default: black;
        --color-base: #1d1d1d;
        --color-bg: rgba(0, 0, 0, 0.411);
        --color-contact: #5f87a8ef;
        --color-about: #48cf7c;
    }

    /* setando size */
    :root{
        --text-title:2em;
        --text-subtitle:1.2em;
        --text-paragraph:1em;
        --text-anchor:.8em;
        --text-icon:2.5em;
    }

    h1{
        font-size: var(--text-title);
    }
    
    h2{
    
        font-size: var(--text-subtitle);
    }
    
    p{
        font-size: var(--text-paragraph);
    }
    
    a{
        font-size: var(--text-anchor);
        transition: .5;
    }
    
    h1>span{
        color: var(--color-tertiary);
    }
    
    section{
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    
    :hover{
        transition: .5s;
    }

/*#endregion*/

/*#region home*/
    #home{
        background-image: url('../img/superHero.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    .homeContainer{
        height: 20vh;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 17em;
        line-height: 2.5em;
        background-color: var(--color-bg);
    }

    .homeContainer li h1{
        color: var(--color-title);
        font-size: var(--text-title);
        font-weight: 100;
        letter-spacing: 1px;
    }

    .homeContainer li p{
        color: var(--color-title);
    }

    .homeContainer li input{
        padding: .8em 1.2em;
        border-radius: 6px;
        border-color: var(--color-title);
        color: var(--color-title);
        background-color: var(--color-bg);
        filter: brightness(70%);
        transition: .5s;
    }

    .homeContainer li input:hover{
        transform: scale(1.2);
        filter: brightness(100%);
        transition: .7s;
        cursor: pointer;
    }
/*#endregion*/

/*#region Apps*/
    #info{
        width: 100%;
        height: 25vh;
    }

    .appsContainer{
        background-color: var(--color-title);
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    .appsContainer h1{
        line-height: 3em;
    }

    .text{
        width: auto;
        padding: 0 15em;
        display: flex;
    }

    .text li{
        justify-content: space-around;
        padding: 2em;
        text-align: justify;
        flex-basis: 90%;
    }
/*#endregion*/

/*#region Cards*/
    #card{
        width: 100%;
        height: auto;
        /* padding: 20px; */
        padding: 40px 100px;
        background-color: var(--color-base);
    }

    .cardContainer{ 
        padding: 40px 100px;
    }

    .cardContainer ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cardList{
        background-color: var(--color-title);
        text-align: center;
        flex-basis: 25%;
    }

    .cardList img{
        max-height: 230px;
        width: 100%;
    }


    .cardList h2{
        font-weight: bold;
        line-height: 20px;
        padding: 1em 0 0 0;
    }

    .cardList p{
        color: var(--colorBase);
        padding: 20px 15px;
        border-bottom: solid 1px;
    }

    .cardList input{
        margin: 1em;
        padding: .5em;
        background-color: var(--color-base);
        border: none;
        color: var(--color-title);
        border-radius: 2px;
    }

    .cardList input:hover{
        cursor: pointer;
        transition: .5s;
        background-color: var(--color-title);
        color: var(--color-text);
        border: solid 1px;
        border-color: var(--color-base);
    }
/*#endregion*/

/*#region Text*/
    #text{
        width: 100%;
        height: 25vh;
    }

    .textContainer{
        background-color: var(--color-title);
        padding: 3em;
        text-align: center;
    }

    .textContainer h1{
        font-weight: 100;
    }

    .textContainer p{
        text-align: justify;
        padding: 2em;
    }
/*#endregion*/

/*#region Contact/About*/
    .contactContainer{
        width: 100%;
        height: 35vh;
    }

    .contactContainer ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .contactUs{
        background-color: var(--color-contact);
        padding: 6em;
        color: var(--color-title);
        width: 100%;
    }

    .contactUs h2{
        font-weight: 100;
    }

    .contactUs p{
        line-height: 2em;
        font-size: var(--text-anchor);
    }

    .aboutUs{
        background-color: var(--color-about);
        padding: 6em;
        color: var(--color-title);
        width: 100%;
    }

    .aboutUs h2{
        font-weight: 100;
    }

    .aboutUs p{
        line-height: 2em;
        font-size: var(--text-anchor);
    }
/*#endregion*/

/*#region Footer*/
    .footerContainer{
        background-color: var(--color-base);
        width: 100%;
        height: 8vh;
        color: var(--color-title);
        text-align: center;
        padding: 2.5em;
        align-items: center;
        font-size: var(--text-anchor);
    }

/*#endregion*/